# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
venv/
ENV/
env/
.venv/

# Dotenv environment variables file
.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Archivos de reporte
reporte_diario.json
reporte_diario.txt
